<div>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.image}}"
        style="width: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-8">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{commentedRestaurants.length}} 已評論餐廳</p>
      <a class="btn btn-primary" href="/users/{{user.id}}/edit">Edit</a>
    </div>
  </div>
</div>

<div class="d-grid gap-3">
  <div class="mt-5 p-2 bg-light border">
    <p>{{commentedRestaurants.length}} 已評論餐廳</p>
    {{#each commentedRestaurants}}
    <a href="/restaurants/{{this.dataValues.restaurantId}}">
      <img class="card-img-top img-fluid" src="{{this.dataValues.Restaurant.dataValues.image}}"
        alt="{{this.dataValues.Restaurant.dataValues.image}}"
        style="width: 100px; height: 100px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </a>
    {{/each}}
  </div>
</div>

